#header {
    background: olive;
}

#footer {
    background: $panel;
}

#status-connections {
    background: purple;
    color: $accent-lighten-1;
}

#status-quickhelp {
    background: midnightblue;
    color: $accent-lighten-1;
}

#status-counts {
    background: darkgreen;
    color: $accent-lighten-1;
}

.torrentlist {
    background: darkcyan;
    color: $text;
}

.torrent {
    background: chartreuse;
    color: $text;
}

#tabs {
    background: $background;
    color: $text;
}

#log {
    background: $secondary-background-darken-3;
    color: $text;
}

.log-message {
    background: #331;
}

.log-message-info {
}

.log-message-warning {
    color: gold;
}

.log-message-error {
    color: tomato;
}

.log-message-debug {
    color: lightgreen;
}

.log-timestamp {
    background: green;
    color: yellow;
    margin-right: 1;
}

.log-duplicates {
    background: blue;
    color: purple;
}
